In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os

In [2]:
period=pd.read_csv("./Period.csv")
symptom=pd.read_csv("./Symptom.csv")
user=pd.read_csv("./User.csv")

In [3]:
period.head()

    id start_date end_date  User_id
0  352     5/4/15  10/4/15      252
1  353    23/3/15  27/3/15      253
2  354     6/4/15  11/4/15      254
3  355    21/3/15  24/3/15      255
4  356    26/3/15  31/3/15      256

In [4]:
symptom.head()

,id,user_id,acne,backache,bloating,cramp,diarrhea,dizzy,headache,mood,nausea,sore,date
0,127,252,0,0,0,0,0,0,0,0,0,0,11/4/15
1,128,257,0,0,0,46,0,0,0,0,0,0,10/4/15
2,129,257,0,0,0,0,0,27,48,0,0,0,11/4/15
3,130,263,0,0,0,0,0,0,0,0,0,0,11/4/15
4,132,269,0,0,0,0,0,0,0,0,0,0,11/4/15

In [5]:
user.head()

    id  dob  cycle_length_initial  period_length_initial
0  252  NaN                    28                      6
1  253  NaN                    30                      5
2  254  NaN                    28                      6
3  255  NaN                    30                      4
4  256  NaN                    25                      6

In [6]:
#period.drop('id', axis=1, inplace=True)

In [7]:
period.head()

    id start_date end_date  User_id
0  352     5/4/15  10/4/15      252
1  353    23/3/15  27/3/15      253
2  354     6/4/15  11/4/15      254
3  355    21/3/15  24/3/15      255
4  356    26/3/15  31/3/15      256

In [8]:
period_symptom=pd.merge(symptom, period, left_on='user_id',right_on='User_id',how="outer")

In [9]:
period_symptom_user=pd.merge(period_symptom,user,left_on='user_id',right_on='id',how="outer")

In [10]:
period_symptom_user.head()

,id_x,user_id,acne,backache,bloating,cramp,diarrhea,dizzy,headache,mood,...,sore,date,id_y,start_date,end_date,User_id,id,dob,cycle_length_initial,period_length_initial
0,127.0,252.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,11/4/15,352.0,5/4/15,10/4/15,252.0,252.0,NaN,28.0,6.0
1,142.0,252.0,50.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,13/4/15,352.0,5/4/15,10/4/15,252.0,252.0,NaN,28.0,6.0
2,171.0,252.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,17/4/15,352.0,5/4/15,10/4/15,252.0,252.0,NaN,28.0,6.0
3,128.0,257.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,...,0.0,10/4/15,357.0,10/3/15,15/3/15,257.0,257.0,NaN,30.0,6.0
4,128.0,257.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,...,0.0,10/4/15,358.0,11/4/15,15/4/15,257.0,257.0,NaN,30.0,6.0

In [11]:
period_symptom_user.drop('id_x', axis=1, inplace=True)
period_symptom_user.drop('id_y', axis=1, inplace=True)
period_symptom_user.drop('dob', axis=1, inplace=True)

In [12]:
period_symptom_user.drop('User_id', axis=1, inplace=True)
period_symptom_user.head()

,user_id,acne,backache,bloating,cramp,diarrhea,dizzy,headache,mood,nausea,sore,date,start_date,end_date,id,cycle_length_initial,period_length_initial
0,252.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,5/4/15,10/4/15,252.0,28.0,6.0
1,252.0,50.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13/4/15,5/4/15,10/4/15,252.0,28.0,6.0
2,252.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17/4/15,5/4/15,10/4/15,252.0,28.0,6.0
3,257.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,10/4/15,10/3/15,15/3/15,257.0,30.0,6.0
4,257.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,10/4/15,11/4/15,15/4/15,257.0,30.0,6.0

In [13]:
period_symptom_user.drop('id', axis=1, inplace=True)

In [14]:
period_symptom_user.drop('end_date', axis=1, inplace=True)
period_symptom_user

,user_id,acne,backache,bloating,cramp,diarrhea,dizzy,headache,mood,nausea,sore,date,start_date,cycle_length_initial,period_length_initial
0,252.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,5/4/15,28.0,6.0
1,252.0,50.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13/4/15,5/4/15,28.0,6.0
2,252.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17/4/15,5/4/15,28.0,6.0
3,257.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,10/4/15,10/3/15,30.0,6.0
4,257.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,10/4/15,11/4/15,30.0,6.0
5,257.0,0.0,0.0,0.0,0.0,0.0,27.0,48.0,0.0,0.0,0.0,11/4/15,10/3/15,30.0,6.0
6,257.0,0.0,0.0,0.0,0.0,0.0,27.0,48.0,0.0,0.0,0.0,11/4/15,11/4/15,30.0,6.0
7,257.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,0.0,0.0,0.0,12/4/15,10/3/15,30.0,6.0
8,257.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,0.0,0.0,0.0,12/4/15,11/4/15,30.0,6.0
9,263.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,7/4/15,28.0,4.0
10,269.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,4/4/15,28.0,8.0
11,269.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,28/8/15,28.0,8.0
12,269.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,1/10/15,28.0,8.0
13,269.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,2/12/15,28.0,8.0
14,269.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,4/1/16,28.0,8.0
15,269.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,3/2/16,28.0,8.0
16,269.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,24/3/16,28.0,8.0
17,269.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,19/4/16,28.0,8.0
18,269.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,23/5/16,28.0,8.0
19,269.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,1/10/16,28.0,8.0
20,269.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,5/11/16,28.0,8.0
21,270.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,3/4/15,28.0,6.0
22,271.0,0.0,0.0,15.0,22.0,0.0,0.0,0.0,47.0,0.0,37.0,11/4/15,11/3/15,32.0,6.0
23,271.0,0.0,0.0,15.0,22.0,0.0,0.0,0.0,47.0,0.0,37.0,11/4/15,11/4/15,32.0,6.0
24,254.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12/4/15,6/4/15,28.0,6.0
25,254.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12/4/15,4/10/15,28.0,6.0
26,254.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12/4/15,1/1/16,28.0,6.0
27,254.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12/4/15,27/1/16,28.0,6.0
28,254.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12/4/15,24/4/16,28.0,6.0
29,254.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12/4/15,22/6/16,28.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,5.0
205570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,4.0
205571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,6.0
205572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,5.0
205573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,3.0
205574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,5.0
205575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,9.0
205576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,2.0
205577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,4.0
205578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,7.0
205579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,6.0
205580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,8.0
205581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,7.0
205582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,7.0
205583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,6.0
205584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,3.0
205585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,5.0
205586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,5.0
205587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,6.0
205588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,3.0
205589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,7.0
205590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,6.0
205591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,5.0
205592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,6.0
205593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,3.0
205594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,6.0
205595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,5.0
205596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,5.0
205597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,4.0
205598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,6.0

In [15]:
period_symptom_user = period_symptom_user.dropna(axis=0, subset=['start_date'])

In [16]:
period_symptom_user = period_symptom_user.dropna(axis=0, subset=['date'])

In [17]:
period_symptom_user.dtypes

user_id                  float64
acne                     float64
backache                 float64
bloating                 float64
cramp                    float64
diarrhea                 float64
dizzy                    float64
headache                 float64
mood                     float64
nausea                   float64
sore                     float64
date                      object
start_date                object
cycle_length_initial     float64
period_length_initial    float64
dtype: object

In [18]:
period_symptom_user.head()

,user_id,acne,backache,bloating,cramp,diarrhea,dizzy,headache,mood,nausea,sore,date,start_date,cycle_length_initial,period_length_initial
0,252.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,5/4/15,28.0,6.0
1,252.0,50.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13/4/15,5/4/15,28.0,6.0
2,252.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17/4/15,5/4/15,28.0,6.0
3,257.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,10/4/15,10/3/15,30.0,6.0
4,257.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,10/4/15,11/4/15,30.0,6.0

In [19]:
x=period_symptom_user.filter(['acne','backache','bloating','cramp','diarrhea','dizzy','headache','mood','nausea','sore','date','cycle_length_initial'
,'period_length_initial'])
y=period_symptom_user.filter(['start_date'])

In [20]:
x.head()

,acne,backache,bloating,cramp,diarrhea,dizzy,headache,mood,nausea,sore,date,cycle_length_initial,period_length_initial
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11/4/15,28.0,6.0
1,50.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13/4/15,28.0,6.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17/4/15,28.0,6.0
3,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,10/4/15,30.0,6.0
4,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,10/4/15,30.0,6.0

In [21]:
y.head()

  start_date
0     5/4/15
1     5/4/15
2     5/4/15
3    10/3/15
4    11/4/15

In [22]:
#data_df['Date'] = pd.to_datetime(x['date'])

In [23]:
y['start_date'].iloc[0]

'5/4/15'

In [24]:
str_tmp='5/4/15'

In [25]:
import datetime as dt

In [26]:
y['start_date'] = pd.to_datetime(y['start_date'], format = "%d/%m/%y")
y['start_date']=y['start_date'].map(dt.datetime.toordinal)

In [27]:
x['date']=pd.to_datetime(x['date'], format = "%d/%m/%y")
x['date']=x['date'].map(dt.datetime.toordinal)

In [28]:
x.head()

,acne,backache,bloating,cramp,diarrhea,dizzy,headache,mood,nausea,sore,date,cycle_length_initial,period_length_initial
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,735699,28.0,6.0
1,50.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,735701,28.0,6.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,735705,28.0,6.0
3,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,735698,30.0,6.0
4,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,735698,30.0,6.0

In [30]:
y.head()

   start_date
0      735693
1      735693
2      735693
3      735667
4      735699

In [31]:
# import train test split
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso


X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=42)

#clf = LinearRegression()
clf = Lasso()

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)
y_train_pred = clf.predict(X_train)

In [32]:
y_train_pred

array([736893.31064977, 736211.46940219, 736950.65164671, ...,
       736832.12093315, 736396.1331637 , 736347.39157005])

In [33]:
from sklearn.metrics import r2_score

print("Train acc: " , r2_score(y_train, y_train_pred))
print("Test acc: ", r2_score(y_test, y_pred))

Train acc:  0.4654885180303977
Test acc:  0.5496988044729536

In [35]:
from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [ ]:
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression()

# fit the model with data
logreg.fit(X_train,y_train)

#
y_pred=logreg.predict(X_test)

C:\Users\pavan\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
rfe = RFE(model, 3)
fit = rfe.fit(x, y)

C:\Users\pavan\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [174]:
df=y
df = df.drop(df.filter(regex='^.*-+.*$').columns, axis=1)

In [ ]:
df.iloc()[30]

In [138]:
from datetime import datetime
from dateutil.parser import parse
datetime.strptime(str_tmp, '%d-%m-%y')

ValueError: time data '5/4/15' does not match format '%d-%m-%y'

In [168]:
period_symptom_user.isnull().sum().sort_values(ascending=False).head(10)

period_length_initial    0
cycle_length_initial     0
start_date               0
date                     0
sore                     0
nausea                   0
mood                     0
headache                 0
dizzy                    0
diarrhea                 0
dtype: int64

In [38]:
symptom_user=pd.merge(symptom, user, left_on='user_id',right_on='id')

In [39]:
symptom_user

,id_x,user_id,acne,backache,bloating,cramp,diarrhea,dizzy,headache,mood,nausea,sore,date,id_y,dob,cycle_length_initial,period_length_initial
0,127,252,0,0,0,0,0,0,0,0,0,0,11/4/15,252,NaN,28,6
1,142,252,50,50,0,0,0,0,0,0,0,0,13/4/15,252,NaN,28,6
2,171,252,0,0,0,0,0,0,0,0,0,0,17/4/15,252,NaN,28,6
3,128,257,0,0,0,46,0,0,0,0,0,0,10/4/15,257,NaN,30,6
4,129,257,0,0,0,0,0,27,48,0,0,0,11/4/15,257,NaN,30,6
5,139,257,0,0,0,0,0,0,47,0,0,0,12/4/15,257,NaN,30,6
6,130,263,0,0,0,0,0,0,0,0,0,0,11/4/15,263,NaN,28,4
7,132,269,0,0,0,0,0,0,0,0,0,0,11/4/15,269,NaN,28,8
8,133,270,0,0,0,0,0,0,0,0,0,0,11/4/15,270,NaN,28,6
9,134,271,0,0,15,22,0,0,0,47,0,37,11/4/15,271,NaN,32,6
10,135,254,0,0,0,0,0,0,0,0,0,0,12/4/15,254,NaN,28,6
11,136,273,0,0,0,20,0,0,0,0,42,21,12/4/15,273,NaN,30,7
12,137,275,0,0,0,0,0,0,0,0,0,0,11/4/15,275,NaN,40,5
13,138,262,71,0,45,0,0,0,0,53,0,0,12/4/15,262,NaN,28,5
14,149,262,43,0,0,0,0,34,0,0,0,0,13/4/15,262,NaN,28,5
15,160,262,39,0,0,0,0,0,0,0,0,0,16/4/15,262,NaN,28,5
16,505,262,43,0,60,100,0,0,52,100,0,0,28/9/15,262,NaN,28,5
17,140,278,0,0,0,0,0,0,0,0,0,0,12/4/15,278,NaN,28,8
18,151,278,0,20,15,0,0,17,15,0,0,0,14/4/15,278,NaN,28,8
19,270,278,0,0,0,24,39,59,55,0,49,0,2/9/15,278,NaN,28,8
20,874,278,0,26,0,66,0,41,0,52,27,41,30/10/15,278,NaN,28,8
21,904,278,0,0,0,50,0,0,0,23,0,11,1/11/15,278,NaN,28,8
22,3002,278,0,21,0,44,47,22,41,0,42,0,12/3/16,278,NaN,28,8
23,7802,278,0,0,0,0,0,0,0,0,0,0,23/2/17,278,NaN,28,8
24,9099,278,0,0,0,50,0,28,33,0,23,0,21/7/17,278,NaN,28,8
25,13474,278,36,0,27,38,0,0,0,0,0,0,24/1/19,278,NaN,28,8
26,13688,278,0,28,0,42,0,37,54,0,0,13,13/3/19,278,NaN,28,8
27,141,284,0,0,93,36,76,43,0,0,60,79,13/4/15,284,NaN,28,6
28,143,286,0,0,0,0,0,0,22,15,0,0,13/4/15,286,NaN,30,6
29,152,286,3,0,0,0,0,6,34,7,0,0,14/4/15,286,NaN,30,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13482,13367,7049,0,48,50,52,0,0,59,61,49,32,3/1/19,7049,NaN,28,2
13483,13379,7049,0,39,0,61,0,0,0,52,41,39,4/1/19,7049,NaN,28,2
13484,13393,7049,0,0,0,53,0,0,0,0,0,0,6/1/19,7049,NaN,28,2
13485,13400,7049,0,0,40,31,0,0,36,49,0,0,7/1/19,7049,NaN,28,2
13486,13519,7049,19,54,53,73,0,49,47,51,0,63,31/1/19,7049,NaN,28,2
13487,13528,7049,0,25,52,44,46,0,0,46,31,32,1/2/19,7049,NaN,28,2
13488,13662,7049,0,0,44,0,0,0,0,0,0,0,5/3/19,7049,NaN,28,2
13489,13248,6955,0,0,0,36,0,0,33,0,22,0,9/12/18,6955,NaN,30,6
13490,13249,6673,0,88,99,34,0,87,86,55,0,0,10/12/18,6673,19/10/89,30,6
13491,13265,7050,35,0,0,0,0,0,0,0,0,0,11/12/18,7050,NaN,28,4
13492,13284,7050,0,0,0,0,0,0,0,0,0,0,6/12/18,7050,NaN,28,4
13493,13275,6639,0,0,0,0,0,0,83,54,0,78,12/12/18,6639,NaN,34,7
13494,13304,6077,38,0,0,38,0,42,0,0,0,0,20/12/18,6077,NaN,30,6
13495,13318,7051,0,93,0,100,0,0,0,0,0,28,25/12/18,7051,NaN,28,4
13496,13334,7051,0,100,0,95,0,0,0,0,0,0,26/12/18,7051,NaN,28,4
13497,13340,7051,100,43,48,60,0,0,0,0,0,0,27/12/18,7051,NaN,28,4
13498,13321,6652,0,0,0,35,30,0,42,55,64,0,25/12/18,6652,NaN,40,3
13499,13326,3337,0,0,0,0,0,0,0,0,0,0,25/12/18,3337,NaN,28,5
13500,13392,6722,0,23,25,0,25,0,0,0,0,33,6/1/19,6722,NaN,30,6
13501,13399,6722,0,0,0,0,35,0,0,0,26,28,7/1/19,6722,NaN,30,6
13502,13441,5748,37,0,0,0,0,0,0,0,0,0,16/1/19,5748,NaN,31,4
13503,13479,5748,0,100,0,10,0,0,0,0,0,42,26/1/19,5748,NaN,31,4
13504,13452,7054,0,0,0,0,0,0,0,0,0,0,20/1/19,7054,NaN,28,5
13505,13468,6148,100,0,0,100,0,0,0,0,0,0,23/1/19,6148,NaN,28,8
13506,13593,6657,0,0,0,0,0,0,0,0,0,0,16/2/19,6657,NaN,35,5
13507,13622,5246,0,0,0,0,0,0,0,0,0,0,24/2/19,5246,NaN,28,2
13508,13627,5246,0,0,0,0,0,0,0,0,0,0,25/2/19,5246,NaN,28,2
13509,13670,5246,0,0,0,0,0,0,0,0,0,0,8/3/19,5246,NaN,28,2
13510,13630,6089,0,0,0,17,0,0,0,0,0,0,26/2/19,6089,NaN,25,7
13511,13713,6669,0,0,0,0,0,0,0,0,0,0,18/3/19,6669,NaN,28,5

In [45]:
symptom_user.drop('id_x', axis=1, inplace=True)

In [46]:
symptom_user.drop('id_y', axis=1, inplace=True)
symptom_user.drop('dob', axis=1, inplace=True)

In [47]:
symptom_user

,user_id,acne,backache,bloating,cramp,diarrhea,dizzy,headache,mood,nausea,sore,date,cycle_length_initial,period_length_initial
0,252,0,0,0,0,0,0,0,0,0,0,11/4/15,28,6
1,252,50,50,0,0,0,0,0,0,0,0,13/4/15,28,6
2,252,0,0,0,0,0,0,0,0,0,0,17/4/15,28,6
3,257,0,0,0,46,0,0,0,0,0,0,10/4/15,30,6
4,257,0,0,0,0,0,27,48,0,0,0,11/4/15,30,6
5,257,0,0,0,0,0,0,47,0,0,0,12/4/15,30,6
6,263,0,0,0,0,0,0,0,0,0,0,11/4/15,28,4
7,269,0,0,0,0,0,0,0,0,0,0,11/4/15,28,8
8,270,0,0,0,0,0,0,0,0,0,0,11/4/15,28,6
9,271,0,0,15,22,0,0,0,47,0,37,11/4/15,32,6
10,254,0,0,0,0,0,0,0,0,0,0,12/4/15,28,6
11,273,0,0,0,20,0,0,0,0,42,21,12/4/15,30,7
12,275,0,0,0,0,0,0,0,0,0,0,11/4/15,40,5
13,262,71,0,45,0,0,0,0,53,0,0,12/4/15,28,5
14,262,43,0,0,0,0,34,0,0,0,0,13/4/15,28,5
15,262,39,0,0,0,0,0,0,0,0,0,16/4/15,28,5
16,262,43,0,60,100,0,0,52,100,0,0,28/9/15,28,5
17,278,0,0,0,0,0,0,0,0,0,0,12/4/15,28,8
18,278,0,20,15,0,0,17,15,0,0,0,14/4/15,28,8
19,278,0,0,0,24,39,59,55,0,49,0,2/9/15,28,8
20,278,0,26,0,66,0,41,0,52,27,41,30/10/15,28,8
21,278,0,0,0,50,0,0,0,23,0,11,1/11/15,28,8
22,278,0,21,0,44,47,22,41,0,42,0,12/3/16,28,8
23,278,0,0,0,0,0,0,0,0,0,0,23/2/17,28,8
24,278,0,0,0,50,0,28,33,0,23,0,21/7/17,28,8
25,278,36,0,27,38,0,0,0,0,0,0,24/1/19,28,8
26,278,0,28,0,42,0,37,54,0,0,13,13/3/19,28,8
27,284,0,0,93,36,76,43,0,0,60,79,13/4/15,28,6
28,286,0,0,0,0,0,0,22,15,0,0,13/4/15,30,6
29,286,3,0,0,0,0,6,34,7,0,0,14/4/15,30,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13482,7049,0,48,50,52,0,0,59,61,49,32,3/1/19,28,2
13483,7049,0,39,0,61,0,0,0,52,41,39,4/1/19,28,2
13484,7049,0,0,0,53,0,0,0,0,0,0,6/1/19,28,2
13485,7049,0,0,40,31,0,0,36,49,0,0,7/1/19,28,2
13486,7049,19,54,53,73,0,49,47,51,0,63,31/1/19,28,2
13487,7049,0,25,52,44,46,0,0,46,31,32,1/2/19,28,2
13488,7049,0,0,44,0,0,0,0,0,0,0,5/3/19,28,2
13489,6955,0,0,0,36,0,0,33,0,22,0,9/12/18,30,6
13490,6673,0,88,99,34,0,87,86,55,0,0,10/12/18,30,6
13491,7050,35,0,0,0,0,0,0,0,0,0,11/12/18,28,4
13492,7050,0,0,0,0,0,0,0,0,0,0,6/12/18,28,4
13493,6639,0,0,0,0,0,0,83,54,0,78,12/12/18,34,7
13494,6077,38,0,0,38,0,42,0,0,0,0,20/12/18,30,6
13495,7051,0,93,0,100,0,0,0,0,0,28,25/12/18,28,4
13496,7051,0,100,0,95,0,0,0,0,0,0,26/12/18,28,4
13497,7051,100,43,48,60,0,0,0,0,0,0,27/12/18,28,4
13498,6652,0,0,0,35,30,0,42,55,64,0,25/12/18,40,3
13499,3337,0,0,0,0,0,0,0,0,0,0,25/12/18,28,5
13500,6722,0,23,25,0,25,0,0,0,0,33,6/1/19,30,6
13501,6722,0,0,0,0,35,0,0,0,26,28,7/1/19,30,6
13502,5748,37,0,0,0,0,0,0,0,0,0,16/1/19,31,4
13503,5748,0,100,0,10,0,0,0,0,0,42,26/1/19,31,4
13504,7054,0,0,0,0,0,0,0,0,0,0,20/1/19,28,5
13505,6148,100,0,0,100,0,0,0,0,0,0,23/1/19,28,8
13506,6657,0,0,0,0,0,0,0,0,0,0,16/2/19,35,5
13507,5246,0,0,0,0,0,0,0,0,0,0,24/2/19,28,2
13508,5246,0,0,0,0,0,0,0,0,0,0,25/2/19,28,2
13509,5246,0,0,0,0,0,0,0,0,0,0,8/3/19,28,2
13510,6089,0,0,0,17,0,0,0,0,0,0,26/2/19,25,7
13511,6669,0,0,0,0,0,0,0,0,0,0,18/3/19,28,5

In [58]:
x=symptom_user.filter(['acne','backache','bloating','cramp','diarrhea','dizzy','headache','mood','nausea','sore'])

In [59]:
x

,acne,backache,bloating,cramp,diarrhea,dizzy,headache,mood,nausea,sore
0,0,0,0,0,0,0,0,0,0,0
1,50,50,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,46,0,0,0,0,0,0
4,0,0,0,0,0,27,48,0,0,0
5,0,0,0,0,0,0,47,0,0,0
6,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0
9,0,0,15,22,0,0,0,47,0,37
10,0,0,0,0,0,0,0,0,0,0
11,0,0,0,20,0,0,0,0,42,21
12,0,0,0,0,0,0,0,0,0,0
13,71,0,45,0,0,0,0,53,0,0
14,43,0,0,0,0,34,0,0,0,0
15,39,0,0,0,0,0,0,0,0,0
16,43,0,60,100,0,0,52,100,0,0
17,0,0,0,0,0,0,0,0,0,0
18,0,20,15,0,0,17,15,0,0,0
19,0,0,0,24,39,59,55,0,49,0
20,0,26,0,66,0,41,0,52,27,41
21,0,0,0,50,0,0,0,23,0,11
22,0,21,0,44,47,22,41,0,42,0
23,0,0,0,0,0,0,0,0,0,0
24,0,0,0,50,0,28,33,0,23,0
25,36,0,27,38,0,0,0,0,0,0
26,0,28,0,42,0,37,54,0,0,13
27,0,0,93,36,76,43,0,0,60,79
28,0,0,0,0,0,0,22,15,0,0
29,3,0,0,0,0,6,34,7,0,0
...,...,...,...,...,...,...,...,...,...,...
13482,0,48,50,52,0,0,59,61,49,32
13483,0,39,0,61,0,0,0,52,41,39
13484,0,0,0,53,0,0,0,0,0,0
13485,0,0,40,31,0,0,36,49,0,0
13486,19,54,53,73,0,49,47,51,0,63
13487,0,25,52,44,46,0,0,46,31,32
13488,0,0,44,0,0,0,0,0,0,0
13489,0,0,0,36,0,0,33,0,22,0
13490,0,88,99,34,0,87,86,55,0,0
13491,35,0,0,0,0,0,0,0,0,0
13492,0,0,0,0,0,0,0,0,0,0
13493,0,0,0,0,0,0,83,54,0,78
13494,38,0,0,38,0,42,0,0,0,0
13495,0,93,0,100,0,0,0,0,0,28
13496,0,100,0,95,0,0,0,0,0,0
13497,100,43,48,60,0,0,0,0,0,0
13498,0,0,0,35,30,0,42,55,64,0
13499,0,0,0,0,0,0,0,0,0,0
13500,0,23,25,0,25,0,0,0,0,33
13501,0,0,0,0,35,0,0,0,26,28
13502,37,0,0,0,0,0,0,0,0,0
13503,0,100,0,10,0,0,0,0,0,42
13504,0,0,0,0,0,0,0,0,0,0
13505,100,0,0,100,0,0,0,0,0,0
13506,0,0,0,0,0,0,0,0,0,0
13507,0,0,0,0,0,0,0,0,0,0
13508,0,0,0,0,0,0,0,0,0,0
13509,0,0,0,0,0,0,0,0,0,0
13510,0,0,0,17,0,0,0,0,0,0
13511,0,0,0,0,0,0,0,0,0,0

In [60]:
y=symptom_user.filter(['period_length_initial'])

In [61]:
y

       period_length_initial
0                          6
1                          6
2                          6
3                          6
4                          6
5                          6
6                          4
7                          8
8                          6
9                          6
10                         6
11                         7
12                         5
13                         5
14                         5
15                         5
16                         5
17                         8
18                         8
19                         8
20                         8
21                         8
22                         8
23                         8
24                         8
25                         8
26                         8
27                         6
28                         6
29                         6
...                      ...
13482                      2
13483                      2
13484                      2
13485                      2
13486                      2
13487                      2
13488                      2
13489                      6
13490                      6
13491                      4
13492                      4
13493                      7
13494                      6
13495                      4
13496                      4
13497                      4
13498                      3
13499                      5
13500                      6
13501                      6
13502                      4
13503                      4
13504                      5
13505                      8
13506                      5
13507                      2
13508                      2
13509                      2
13510                      7
13511                      5

[13512 rows x 1 columns]

In [63]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
rfe = RFE(model, 3)
fit = rfe.fit(x, y)

C:\Users\pavan\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [66]:
print(fit.n_features_)
print(fit.support_)
print(fit.ranking_)

3
[ True False False False  True False  True False False False]
[1 7 2 3 1 8 1 5 6 4]

In [70]:
min(user['cycle_length_initial'])

25

In [85]:
user251=symptom_user.loc[symptom_user['user_id']>252]

In [86]:
user251

Empty DataFrame
Columns: [user_id, acne, backache, bloating, cramp, diarrhea, dizzy, headache, mood, nausea, sore, date, cycle_length_initial, period_length_initial]
Index: []